body{
    margin: 0%;
    padding: 0%;
}
#container{
    background-color: green;
    height: 100vh;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas: 
    "header"
    "body"
    ;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    color: white;
    text-align: start;
    align-content: center;
}

#header{
    grid-area: header;
    background-color: black;
    padding: 40px;
}

#header-container{
    display: grid;
    grid-template-columns: 0.7fr 0.15fr 0.15fr;
    grid-template-areas: "logo date time";
}

#logo{
    grid-area: logo;

    font-size: 20px;

}

#date{
    grid-area: date;


}

#time{
    grid-area: time;
    text-align: right;
}
#time h1{
    font-size: 40px;
}

#body{
    grid-area: body;
    background-color: whitesmoke;
    padding: 40px;
}

#body-container{
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-rows: 0.8fr 0.2fr;
    grid-template-areas:
     "content1 content2"
     "content3 content2"
    ;
}

#content1{
    grid-area: content1;

}
#content2{
    grid-area: content2;

}

#content3{
    grid-area: content3;
    padding: 10px;
    color: black;
    
}

.image{
    background-size: cover;
    object-fit: fill;
}


